
:root {
    --colorCorporateDigitalBlack: #000000;    
    --colorCorporateDigitalDarkGrey: #525556;    
    --colorCorporateDigitalGrey: #a0a5a9;    
    --colorCorporateDigitalLightGrey: #cfd1d3;    
    --colorCorporateDigitalSicpaBlue: #033b5a;    
    --colorCorporateDigitalRedPink: #e3004a;    
    --colorCorporateDigitalMentholBlue: #6a9f9c;    
    --colorCorporateDigitalCloudGrey: #f6f6f7;    
    --colorCorporateDigitalBlueGrey: #c5d3d7;    
    --colorCorporateDigitalDarkBlue: #072f47;    
    --colorCorporateDigitalMediumBlue: #084466;    
    --colorCorporateDigitalPrimaryBlue: #0087c8;    
    --colorCorporateDigitalOrange: #f38a00;    
    --colorCorporateDigitalGreen: #77bc1f;    
    --colorCorporateDigitalBeige: #c9b981;    
    --colorCorporateDigitalDarkBrown: #494037;    
    --colorImpDefault50: #f4f4f5;    
    --colorImpDefault100: #e3e4e5;    
    --colorImpDefault200: #d0d2d4;    
    --colorImpDefault300: #bdc0c3;    
    --colorImpDefault400: #aeb3b6;    
    --colorImpDefault500: #a0a5a9;    
    --colorImpDefault600: #989da2;    
    --colorImpDefault700: #8e9398;    
    --colorImpDefault800: #848a8f;    
    --colorImpDefault900: #73797e;    
    --colorImpDefaultA100: #ffffff;    
    --colorImpDefaultA200: #d1e6fb;    
    --colorImpDefaultA400: #9bcdff;    
    --colorImpDefaultA700: #81c0ff;    
    --colorImpDefaultContrast50: #000000;    
    --colorImpDefaultContrast100: #000000;    
    --colorImpDefaultContrast200: #000000;    
    --colorImpDefaultContrast300: #000000;    
    --colorImpDefaultContrast500: #000000;    
    --colorImpDefaultContrast600: #000000;    
    --colorImpDefaultContrast700: #000000;    
    --colorImpDefaultContrast800: #000000;    
    --colorImpDefaultContrast900: #ffffff;    
    --colorImpDefaultContrastA100: #000000;    
    --colorImpDefaultContrastA200: #000000;    
    --colorImpDefaultContrastA400: #000000;    
    --colorImpDefaultContrastA700: #000000;    
    --colorImpGreen50: #eff7e4;    
    --colorImpGreen100: #d6ebbc;    
    --colorImpGreen200: #bbde8f;    
    --colorImpGreen300: #a0d062;    
    --colorImpGreen400: #8bc641;    
    --colorImpGreen500: #77bc1f;    
    --colorImpGreen600: #6fb61b;    
    --colorImpGreen700: #64ad17;    
    --colorImpGreen800: #5aa512;    
    --colorImpGreen900: #47970a;    
    --colorImpGreenA100: #dbffc4;    
    --colorImpGreenA200: #bcff91;    
    --colorImpGreenA400: #9cff5e;    
    --colorImpGreenA700: #8dff45;    
    --colorImpGreenContrast50: #000000;    
    --colorImpGreenContrast200: #000000;    
    --colorImpGreenContrast300: #000000;    
    --colorImpGreenContrast400: #000000;    
    --colorImpGreenContrast500: #ffffff;    
    --colorImpGreenContrast600: #000000;    
    --colorImpGreenContrast700: #000000;    
    --colorImpGreenContrast800: #ffffff;    
    --colorImpGreenContrast900: #ffffff;    
    --colorImpGreenContrastA100: #000000;    
    --colorImpGreenContrastA200: #000000;    
    --colorImpGreenContrastA400: #000000;    
    --colorImpGreenContrastA700: #000000;    
}