    /* Input text (text field) */
    $colorCorporateBlack: #000000;    
    /* Body text, secondary action icon */
    $colorCorporateDarkGrey: #525556;    
    /* Labels (text field)
    Inactive text */
    $colorCorporateGrey: #a0a5a9;    
    /* Stroke
    Disabled button
    Disabled filters */
    $colorCorporateLightGrey: #cfd1d3;    
    /* Headline, title, subtitle
    Toast bar, snack bar */
    $colorCorporateSicpaBlue: #033b5a;    
    /* Error (label, KPI, icon, ...) */
    $colorCorporateRedPink: #e3004a;    
    /* Corporate color */
    $colorCorporateMentholBlue: #6a9f9c;    
    /* Tab bar
    Screen background
    Text field container */
    $colorCorporateCloudGrey: #f6f6f7;    
    /* Corporate color */
    $colorCorporateBlueGrey: #c5d3d7;    
    /* Navigation bar background */
    $colorCorporateDarkBlue: #072f47;    
    /* Corporate color */
    $colorCorporateMediumBlue: #084466;    
    /* Primary button
    Action text
    Action link
    Primary action icon
    Focused text field
    Selected tab */
    $colorCorporatePrimaryBlue: #0087c8;    
    /* Alert (label, KPI, icon, ...) */
    $colorCorporateOrange: #f38a00;    
    /* Valid (label, KPI, icon, ...) */
    $colorCorporateGreen: #77bc1f;    
    /* Corporate color */
    $colorCorporateBeige: #c9b981;    
    /* Corporate color */
    $colorCorporateDarkBrown: #494037;    
    $colorPalettesDefault50: #f4f4f5;    
    $colorPalettesDefault100: #e3e4e5;    
    $colorPalettesDefault200: #d0d2d4;    
    $colorPalettesDefault300: #bdc0c3;    
    $colorPalettesDefault400: #aeb3b6;    
    $colorPalettesDefault500: #a0a5a9;    
    $colorPalettesDefault600: #989da2;    
    $colorPalettesDefault700: #8e9398;    
    $colorPalettesDefault800: #848a8f;    
    $colorPalettesDefault900: #73797e;    
    $colorPalettesDefaultA100: #ffffff;    
    $colorPalettesDefaultA200: #d1e6fb;    
    $colorPalettesDefaultA400: #9bcdff;    
    $colorPalettesDefaultA700: #81c0ff;    
    $colorPalettesDefaultContrast50: #000000;    
    $colorPalettesDefaultContrast100: #000000;    
    $colorPalettesDefaultContrast200: #000000;    
    $colorPalettesDefaultContrast300: #000000;    
    $colorPalettesDefaultContrast500: #000000;    
    $colorPalettesDefaultContrast600: #000000;    
    $colorPalettesDefaultContrast700: #000000;    
    $colorPalettesDefaultContrast800: #000000;    
    $colorPalettesDefaultContrast900: #ffffff;    
    $colorPalettesDefaultContrastA100: #000000;    
    $colorPalettesDefaultContrastA200: #000000;    
    $colorPalettesDefaultContrastA400: #000000;    
    $colorPalettesDefaultContrastA700: #000000;    
    $colorPalettesGreen50: #eff7e4;    
    $colorPalettesGreen100: #d6ebbc;    
    $colorPalettesGreen200: #bbde8f;    
    $colorPalettesGreen300: #a0d062;    
    $colorPalettesGreen400: #8bc641;    
    $colorPalettesGreen500: #77bc1f;    
    $colorPalettesGreen600: #6fb61b;    
    $colorPalettesGreen700: #64ad17;    
    $colorPalettesGreen800: #5aa512;    
    $colorPalettesGreen900: #47970a;    
    $colorPalettesGreenA100: #dbffc4;    
    $colorPalettesGreenA200: #bcff91;    
    $colorPalettesGreenA400: #9cff5e;    
    $colorPalettesGreenA700: #8dff45;    
    $colorPalettesGreenContrast50: #000000;    
    $colorPalettesGreenContrast200: #000000;    
    $colorPalettesGreenContrast300: #000000;    
    $colorPalettesGreenContrast400: #000000;    
    $colorPalettesGreenContrast500: #ffffff;    
    $colorPalettesGreenContrast600: #000000;    
    $colorPalettesGreenContrast700: #000000;    
    $colorPalettesGreenContrast800: #ffffff;    
    $colorPalettesGreenContrast900: #ffffff;    
    $colorPalettesGreenContrastA100: #000000;    
    $colorPalettesGreenContrastA200: #000000;    
    $colorPalettesGreenContrastA400: #000000;    
    $colorPalettesGreenContrastA700: #000000;    
    $colorPalettesOrange50: #fef1e0;    
    $colorPalettesOrange100: #fbdcb3;    
    $colorPalettesOrange200: #f9c580;    
    $colorPalettesOrange300: #f7ad4d;    
    $colorPalettesOrange400: #f59c26;    
    $colorPalettesOrange500: #f38a00;    
    $colorPalettesOrange600: #f18200;    
    $colorPalettesOrange700: #ef7700;    
    $colorPalettesOrange800: #ed6d00;    
    $colorPalettesOrange900: #ea5a00;    
    $colorPalettesOrangeA100: #ffffff;    
    $colorPalettesOrangeA200: #ffe8de;    
    $colorPalettesOrangeA400: #ffc6ab;    
    $colorPalettesOrangeA700: #ffb491;    
    $colorPalettesOrangeContrast50: #000000;    
    $colorPalettesOrangeContrast100: #000000;    
    $colorPalettesOrangeContrast200: #000000;    
    $colorPalettesOrangeContrast300: #000000;    
    $colorPalettesOrangeContrast400: #000000;    
    $colorPalettesOrangeContrast500: #ffffff;    
    $colorPalettesOrangeContrast600: #000000;    
    $colorPalettesOrangeContrast700: #000000;    
    $colorPalettesOrangeContrast800: #000000;    
    $colorPalettesOrangeContrast900: #ffffff;    
    $colorPalettesOrangeContrastA100: #000000;    
    $colorPalettesOrangeContrastA200: #000000;    
    $colorPalettesOrangeContrastA400: #000000;    
    $colorPalettesOrangeContrastA700: #000000;    
    $colorPalettesRed50: #fce0e9;    
    $colorPalettesRed100: #f7b3c9;    
    $colorPalettesRed200: #f180a5;    
    $colorPalettesRed300: #eb4d80;    
    $colorPalettesRed400: #e72665;    
    $colorPalettesRed500: #e3004a;    
    $colorPalettesRed600: #e00043;    
    $colorPalettesRedA100: #fff8f9;    
    $colorPalettesRedA200: #ffc5cb;    
    $colorPalettesRedA400: #ff929d;    
    $colorPalettesRedA700: #ff7987;    
    $colorPalettesRedContrast50: #000000;    
    $colorPalettesRedContrast100: #000000;    
    $colorPalettesRedContrast200: #000000;    
    $colorPalettesRedContrast300: #000000;    
    $colorPalettesRedContrast400: #ffffff;    
    $colorPalettesRedContrast500: #ffffff;    
    $colorPalettesRedContrast600: #ffffff;    
    $colorPalettesRedContrast700: #ffffff;    
    $colorPalettesRedContrast900: #ffffff;    
    $colorPalettesRedContrastA100: #000000;    
    $colorPalettesRedContrastA200: #000000;    
    $colorPalettesRedContrastA400: #000000;    
    $colorPalettesRedContrastA700: #000000;    
    $colorPalettesCloudGrey50: #fefefe;    
    $colorPalettesCloudGrey100: #fcfcfd;    
    $colorPalettesCloudGrey200: #fbfbfb;    
    $colorPalettesCloudGrey300: #f9f9f9;    
    $colorPalettesCloudGrey400: #f7f7f8;    
    $colorPalettesCloudGrey500: #f6f6f7;    
    $colorPalettesCloudGrey600: #f5f5f6;    
    $colorPalettesCloudGrey700: #f3f3f5;    
    $colorPalettesCloudGrey800: #f2f2f3;    
    $colorPalettesCloudGrey900: #efeff1;    
    $colorPalettesCloudGreyA100: #ffffff;    
    $colorPalettesCloudGrey200: #ffffff;    
    $colorPalettesCloudGreyA400: #ffffff;    
    $colorPalettesCloudGreyA700: #ffffff;    
    $colorPalettesCloudGreyContrast50: #000000;    
    $colorPalettesCloudGreyContrast100: #000000;    
    $colorPalettesCloudGreyContrast200: #000000;    
    $colorPalettesCloudGreyContrast300: #000000;    
    $colorPalettesCloudGreyContrast400: #000000;    
    $colorPalettesCloudGreyContrast500: #000000;    
    $colorPalettesCloudGreyContrast600: #000000;    
    $colorPalettesCloudGreyContrast700: #000000;    
    $colorPalettesCloudGreyContrast800: #000000;    
    $colorPalettesCloudGreyContrast900: #000000;    
    $colorPalettesCloudGreyContrastA100: #000000;    
    $colorPalettesCloudGreyContrastA200: #000000;    
    $colorPalettesCloudGreyContrastA400: #000000;    
    $colorPalettesCloudGreyContrastA700: #000000;    
    $colorPalettesLightGrey50: #f9f9fa;    
    $colorPalettesLightGrey100: #f1f1f2;    
    $colorPalettesLightGrey200: #e7e8e9;    
    $colorPalettesLightGrey300: #dddfe0;    
    $colorPalettesLightGrey400: #d6d8da;    
    $colorPalettesLightGrey500: #cfd1d3;    
    $colorPalettesLightGrey600: #caccce;    
    $colorPalettesLightGrey700: #c3c6c8;    
    $colorPalettesLightGrey800: #bdc0c2;    
    $colorPalettesLightGrey900: #b2b5b7;    
    $colorPalettesLightGreyA100: #ffffff;    
    $colorPalettesLightGreyA200: #ffffff;    
    $colorPalettesLightGreyA400: #ffffff;    
    $colorPalettesLightGreyA700: #f0f7ff;    
    $colorPalettesLightGreyContrast50: #000000;    
    $colorPalettesLightGreyContrast100: #000000;    
    $colorPalettesLightGreyContrast200: #000000;    
    $colorPalettesLightGreyContrast300: #000000;    
    $colorPalettesLightGreyContrast400: #000000;    
    $colorPalettesLightGreyContrast500: #000000;    
    $colorPalettesLightGreyContrast600: #000000;    
    $colorPalettesLightGreyContrast700: #000000;    
    $colorPalettesLightGreyContrast800: #000000;    
    $colorPalettesLightGreyContrast900: #000000;    
    $colorPalettesLightGreyContrastA100: #000000;    
    $colorPalettesLightGreyContrastA200: #000000;    
    $colorPalettesLightGreyContrastA400: #000000;    
    $colorPalettesLightGreyContrastA700: #000000;    
    $colorPalettesDarkGrey50: #eaebeb;    
    $colorPalettesDarkGrey100: #cbcccc;    
    $colorPalettesDarkGrey200: #a9aaab;    
    $colorPalettesDarkGrey300: #868889;    
    $colorPalettesDarkGrey400: #6c6f6f;    
    $colorPalettesDarkGrey500: #525556;    
    $colorPalettesDarkGrey600: #4b4e4f;    
    $colorPalettesDarkGrey700: #414445;    
    $colorPalettesDarkGrey800: #383b3c;    
    $colorPalettesDarkGrey900: #282a2b;    
    $colorPalettesDarkGreyA100: #85d0f5;    
    $colorPalettesDarkGreyA200: #56bef2;    
    $colorPalettesDarkGreyA400: #15b1ff;    
    $colorPalettesDarkGreyA700: #00a7fb;    
    $colorPalettesDarkGreyContrast50: #000000;    
    $colorPalettesDarkGreyContrast100: #000000;    
    $colorPalettesDarkGreyContrast200: #000000;    
    $colorPalettesDarkGreyContrast300: #000000;    
    $colorPalettesDarkGreyContrast400: #ffffff;    
    $colorPalettesDarkGreyContrast500: #ffffff;    
    $colorPalettesDarkGreyContrast600: #ffffff;    
    $colorPalettesDarkGreyContrast700: #ffffff;    
    $colorPalettesDarkGreyContrast800: #ffffff;    
    $colorPalettesDarkGreyContrast900: #ffffff;    
    $colorPalettesDarkGreyContrastA100: #000000;    
    $colorPalettesDarkGreyContrastA200: #000000;    
    $colorPalettesDarkGreyContrastA400: #000000;    
    $colorPalettesDarkGreyContrastA700: #ffffff;    
    $colorPalettesBlueGrey50: #f8fafa;    
    $colorPalettesBlueGrey100: #eef2f3;    
    $colorPalettesBlueGrey200: #e2e9eb;    
    $colorPalettesBlueGrey300: #d6e0e3;    
    $colorPalettesBlueGrey400: #cedadd;    
    $colorPalettesBlueGrey500: #c5d3d7;    
    $colorPalettesBlueGrey600: #bfced3;    
    $colorPalettesBlueGrey700: #b8c8cd;    
    $colorPalettesBlueGrey800: #b0c2c7;    
    $colorPalettesBlueGrey900: #a3b7be;    
    $colorPalettesBlueGreyA100: #ffffff;    
    $colorPalettesBlueGreyA200: #ffffff;    
    $colorPalettesBlueGreyA400: #ffffff;    
    $colorPalettesBlueGreyA700: #e8f9ff;    
    $colorPalettesBlueGreyContrast50: #000000;    
    $colorPalettesBlueGreyContrast100: #000000;    
    $colorPalettesBlueGreyContrast200: #000000;    
    $colorPalettesBlueGreyContrast300: #000000;    
    $colorPalettesBlueGreyContrast400: #000000;    
    $colorPalettesBlueGreyContrast500: #000000;    
    $colorPalettesBlueGreyContrast600: #000000;    
    $colorPalettesBlueGreyContrast700: #000000;    
    $colorPalettesBlueGreyContrast800: #000000;    
    $colorPalettesBlueGreyContrast900: #000000;    
    $colorPalettesBlueGreyContrastA100: #000000;    
    $colorPalettesBlueGreyContrastA200: #000000;    
    $colorPalettesBlueGreyContrastA400: #000000;    
    $colorPalettesBlueGreyContrastA700: #000000;    
    $colorPalettesMentholBlue50: #edf3f3;    
    $colorPalettesMentholBlue100: #d2e2e1;    
    $colorPalettesMentholBlue200: #b5cfce;    
    $colorPalettesMentholBlue300: #97bcba;    
    $colorPalettesMentholBlue400: #80adab;    
    $colorPalettesMentholBlue500: #6a9f9c;    
    $colorPalettesMentholBlue600: #629794;    
    $colorPalettesMentholBlue700: #578d8a;    
    $colorPalettesMentholBlue800: #4d8380;    
    $colorPalettesMentholBlue900: #3c726e;    
    $colorPalettesMentholBlueA100: #c6fffb;    
    $colorPalettesMentholBlueA200: #93fff7;    
    $colorPalettesMentholBlueA400: #60fff3;    
    $colorPalettesMentholBlueA700: #47fff2;    
    $colorPalettesMentholBlueContrast50: #000000;    
    $colorPalettesMentholBlueContrast100: #000000;    
    $colorPalettesMentholBlueContrast200: #000000;    
    $colorPalettesMentholBlueContrast300: #000000;    
    $colorPalettesMentholBlueContrast400: #000000;    
    $colorPalettesMentholBlueContrast500: #000000;    
    $colorPalettesMentholBlueContrast600: #000000;    
    $colorPalettesMentholBlueContrast700: #ffffff;    
    $colorPalettesMentholBlueContrast800: #ffffff;    
    $colorPalettesMentholBlueContrast900: #ffffff;    
    $colorPalettesMentholBlueContrastA100: #000000;    
    $colorPalettesMentholBlueContrastA200: #000000;    
    $colorPalettesMentholBlueContrastA400: #000000;    
    $colorPalettesMentholBlueContrastA700: #000000;    
    $colorPalettesBlue50: #e0f1f8;    
    $colorPalettesBlue100: #b3dbef;    
    $colorPalettesBlue200: #80c3e4;    
    $colorPalettesBlue300: #4dabd9;    
    $colorPalettesBlue400: #2699d0;    
    $colorPalettesBlue500: #0087c8;    
    $colorPalettesBlue600: #007fc2;    
    $colorPalettesBlue700: #0074bb;    
    $colorPalettesBlue800: #006ab4;    
    $colorPalettesBlue900: #0057a7;    
    $colorPalettesBlueA100: #d1e6ff;    
    $colorPalettesBlueA200: #9ecaff;    
    $colorPalettesBlueA400: #6baeff;    
    $colorPalettesBlueA700: #52a1ff;    
    $colorPalettesBlueContrast50: #000000;    
    $colorPalettesBlueContrast100: #000000;    
    $colorPalettesBlueContrast200: #000000;    
    $colorPalettesBlueContrast300: #000000;    
    $colorPalettesBlueContrast400: #ffffff;    
    $colorPalettesBlueContrast500: #ffffff;    
    $colorPalettesBlueContrast600: #ffffff;    
    $colorPalettesBlueContrast700: #ffffff;    
    $colorPalettesBlueContrast800: #ffffff;    
    $colorPalettesBlueContrast900: #ffffff;    
    $colorPalettesBlueContrastA100: #000000;    
    $colorPalettesBlueContrastA200: #000000;    
    $colorPalettesBlueContrastA400: #000000;    
    $colorPalettesBlueContrastA700: #000000;    
    $colorPalettesMediumBlue50: #e1e9ed;    
    $colorPalettesMediumBlue100: #b5c7d1;    
    $colorPalettesMediumBlue200: #84a2b3;    
    $colorPalettesMediumBlue300: #527c94;    
    $colorPalettesMediumBlue400: #2d607d;    
    $colorPalettesMediumBlue500: #084466;    
    $colorPalettesMediumBlue600: #073e5e;    
    $colorPalettesMediumBlue700: #063553;    
    $colorPalettesMediumBlue800: #042d49;    
    $colorPalettesMediumBlue900: #021f38;    
    $colorPalettesMediumBlueA100: #6eb0ff;    
    $colorPalettesMediumBlueA200: #3b93ff;    
    $colorPalettesMediumBlue400: #0877ff;    
    $colorPalettesMediumBlueA700: #006bee;    
    $colorPalettesMediumBlueContrast50: #000000;    
    $colorPalettesMediumBlueContrast100: #000000;    
    $colorPalettesMediumBlueContrast200: #000000;    
    $colorPalettesMediumBlueContrast300: #ffffff;    
    $colorPalettesMediumBlueContrast400: #ffffff;    
    $colorPalettesMediumBlueContrast500: #ffffff;    
    $colorPalettesMediumBlueContrast600: #ffffff;    
    $colorPalettesMediumBlueContrast700: #ffffff;    
    $colorPalettesMediumBlueContrast800: #ffffff;    
    $colorPalettesMediumBlueContrast900: #ffffff;    
    $colorPalettesMediumBlueContrastA100: #000000;    
    $colorPalettesMediumBlueContrastA200: #000000;    
    $colorPalettesMediumBlueContrastA400: #ffffff;    
    $colorPalettesMediumBlueContrastA700: #ffffff;    
    $colorPalettesSicpaBlue50: #e1e7eb;    
    $colorPalettesSicpaBlue100: #b3c4ce;    
    $colorPalettesSicpaBlue200: #819dad;    
    $colorPalettesSicpaBlue300: #4f768c;    
    $colorPalettesSicpaBlue400: #295873;    
    $colorPalettesSicpaBlue500: #033b5a;    
    $colorPalettesSicpaBlue600: #033552;    
    $colorPalettesSicpaBlue700: #022d48;    
    $colorPalettesSicpaBlue800: #02263f;    
    $colorPalettesSicpaBlue900: #01192e;    
    $colorPalettesSicpaBlueA100: #67a7ff;    
    $colorPalettesSicpaBlueA200: #3489ff;    
    $colorPalettesSicpaBlueA400: #016bff;    
    $colorPalettesSicpaBlueA700: #0061e6;    
    $colorPalettesSicpaBlueContrast50: #000000;    
    $colorPalettesSicpaBlueContrast100: #000000;    
    $colorPalettesSicpaBlueContrast200: #000000;    
    $colorPalettesSicpaBlueContrast300: #ffffff;    
    $colorPalettesSicpaBlueContrast400: #ffffff;    
    $colorPalettesSicpaBlueContrast500: #ffffff;    
    $colorPalettesSicpaBlueContrast600: #ffffff;    
    $colorPalettesSicpaBlueContrast700: #ffffff;    
    $colorPalettesSicpaBlueContrast800: #ffffff;    
    $colorPalettesSicpaBlueContrast900: #ffffff;    
    $colorPalettesSicpaBlueContrastA100: #000000;    
    $colorPalettesSicpaBlueContrastA200: #000000;    
    $colorPalettesSicpaBlueContrastA400: #ffffff;    
    $colorPalettesSicpaBlueContrastA700: #ffffff;    
    $colorPalettesDarkBlue50: #e1e6e9;    
    $colorPalettesDarkBlue100: #b5c1c8;    
    $colorPalettesDarkBlue200: #8397a3;    
    $colorPalettesDarkBlue300: #516d7e;    
    $colorPalettesDarkBlue400: #2c4e63;    
    $colorPalettesDarkBlue500: #072f47;    
    $colorPalettesDarkBlue600: #062a40;    
    $colorPalettesDarkBlue700: #052337;    
    $colorPalettesDarkBlue800: #041d2f;    
    $colorPalettesDarkBlue900: #021220;    
    $colorPalettesDarkBlueA100: #5da1ff;    
    $colorPalettesDarkBlueA200: #2a83ff;    
    $colorPalettesDarkBlueA400: #0067f6;    
    $colorPalettesDarkBlueA700: #005ddc;    
    $colorPalettesDarkBlueContrast50: #000000;    
    $colorPalettesDarkBlueContrast100: #000000;    
    $colorPalettesDarkBlueContrast200: #000000;    
    $colorPalettesDarkBlueContrast300: #ffffff;    
    $colorPalettesDarkBlueContrast400: #ffffff;    
    $colorPalettesDarkBlueContrast500: #ffffff;    
    $colorPalettesDarkBlueContrast600: #ffffff;    
    $colorPalettesDarkBlueContrast700: #ffffff;    
    $colorPalettesDarkBlueContrast800: #ffffff;    
    $colorPalettesDarkBlueContrast900: #ffffff;    
    $colorPalettesDarkBlueContrastA100: #000000;    
    $colorPalettesDarkBlueContrastA200: #ffffff;    
    $colorPalettesDarkBlueContrastA400: #ffffff;    
    $colorPalettesDarkBlueContrastA700: #ffffff;    
    $colorImpWhite500: #ffffff;    
    $colorImpWhiteContrast500: #000000de;    
    $colorImpBlack500: #000000;    
    $colorImpBlackContrast500: #ffffff;    
    $colorBlack06: #00000099;    
    $colorBlack038: #00000061;    
    $colorBlack054: #0000008a;    
    $colorBlack087: #000000de;    
    $colorBlack004: #00000000;    
    $colorBlack026: #00000042;    
    $colorBlack012: #0000001f;    
    $color00Primary900: #033b5a;    
    $color00Primary800: #184c65;    
    $color00Primary700: #275f7b;    
    $color00Primary600: #367392;    
    $color00Primary500: #4482a4;    
    $color00Primary400: #5f95b5;    
    $color00Primary300: #79a9c7;    
    $color00Primary200: #99c3dd;    
    $color00Primary100: #b7ddf3;    
    $color00Primary50: #d8f3ff;    
    $color01Secondary900: #005592;    
    $color01Secondary800: #0074b4;    
    $color01Secondary700: #0087c8;    
    $color01Secondary600: #0598dc;    
    $color01Secondary500: #09a6ea;    
    $color01Secondary400: #2cb3ed;    
    $color01Secondary300: #50c0ef;    
    $color01Secondary200: #81d2f4;    
    $color01Secondary100: #b2e4f9;    
    $color01Secondary50: #e1f5fd;    
    $color03OnPrimaryMediumEmphasis: #ffffffbd;    
    $color03OnPrimaryDisabled: #ffffff61;    
    $color04OnSecondaryHighEmphasis: #ffffff;    
