    /* Input text (text field) */
    $colorCorporateDigitalBlack: #000000;    
    /* Body text, secondary action icon */
    $colorCorporateDigitalDarkGrey: #525556;    
    /* Labels (text field)
    Inactive text */
    $colorCorporateDigitalGrey: #a0a5a9;    
    /* Stroke
    Disabled button
    Disabled filters */
    $colorCorporateDigitalLightGrey: #cfd1d3;    
    /* Headline, title, subtitle
    Toast bar, snack bar */
    $colorCorporateDigitalSicpaBlue: #033b5a;    
    /* Error (label, KPI, icon, ...) */
    $colorCorporateDigitalRedPink: #e3004a;    
    /* Corporate color */
    $colorCorporateDigitalMentholBlue: #6a9f9c;    
    /* Tab bar
    Screen background
    Text field container */
    $colorCorporateDigitalCloudGrey: #f6f6f7;    
    /* Corporate color */
    $colorCorporateDigitalBlueGrey: #c5d3d7;    
    /* Navigation bar background */
    $colorCorporateDigitalDarkBlue: #072f47;    
    /* Corporate color */
    $colorCorporateDigitalMediumBlue: #084466;    
    /* Primary button
    Action text
    Action link
    Primary action icon
    Focused text field
    Selected tab */
    $colorCorporateDigitalPrimaryBlue: #0087c8;    
    /* Alert (label, KPI, icon, ...) */
    $colorCorporateDigitalOrange: #f38a00;    
    /* Valid (label, KPI, icon, ...) */
    $colorCorporateDigitalGreen: #77bc1f;    
    /* Corporate color */
    $colorCorporateDigitalBeige: #c9b981;    
    /* Corporate color */
    $colorCorporateDigitalDarkBrown: #494037;    
    $colorImpDefault50: #f4f4f5;    
    $colorImpDefault100: #e3e4e5;    
    $colorImpDefault200: #d0d2d4;    
    $colorImpDefault300: #bdc0c3;    
    $colorImpDefault400: #aeb3b6;    
    $colorImpDefault500: #a0a5a9;    
    $colorImpDefault600: #989da2;    
    $colorImpDefault700: #8e9398;    
    $colorImpDefault800: #848a8f;    
    $colorImpDefault900: #73797e;    
    $colorImpDefaultA100: #ffffff;    
    $colorImpDefaultA200: #d1e6fb;    
    $colorImpDefaultA400: #9bcdff;    
    $colorImpDefaultA700: #81c0ff;    
    $colorImpDefaultContrast50: #000000;    
    $colorImpDefaultContrast100: #000000;    
    $colorImpDefaultContrast200: #000000;    
    $colorImpDefaultContrast300: #000000;    
    $colorImpDefaultContrast500: #000000;    
    $colorImpDefaultContrast600: #000000;    
    $colorImpDefaultContrast700: #000000;    
    $colorImpDefaultContrast800: #000000;    
    $colorImpDefaultContrast900: #ffffff;    
    $colorImpDefaultContrastA100: #000000;    
    $colorImpDefaultContrastA200: #000000;    
    $colorImpDefaultContrastA400: #000000;    
    $colorImpDefaultContrastA700: #000000;    
    $colorImpGreen50: #eff7e4;    
    $colorImpGreen100: #d6ebbc;    
    $colorImpGreen200: #bbde8f;    
    $colorImpGreen300: #a0d062;    
    $colorImpGreen400: #8bc641;    
    $colorImpGreen500: #77bc1f;    
    $colorImpGreen600: #6fb61b;    
    $colorImpGreen700: #64ad17;    
    $colorImpGreen800: #5aa512;    
    $colorImpGreen900: #47970a;    
    $colorImpGreenA100: #dbffc4;    
    $colorImpGreenA200: #bcff91;    
    $colorImpGreenA400: #9cff5e;    
    $colorImpGreenA700: #8dff45;    
    $colorImpGreenContrast50: #000000;    
    $colorImpGreenContrast200: #000000;    
    $colorImpGreenContrast300: #000000;    
    $colorImpGreenContrast400: #000000;    
    $colorImpGreenContrast500: #ffffff;    
    $colorImpGreenContrast600: #000000;    
    $colorImpGreenContrast700: #000000;    
    $colorImpGreenContrast800: #ffffff;    
    $colorImpGreenContrast900: #ffffff;    
    $colorImpGreenContrastA100: #000000;    
    $colorImpGreenContrastA200: #000000;    
    $colorImpGreenContrastA400: #000000;    
    $colorImpGreenContrastA700: #000000;    
    $colorImpOrange50: #fef1e0;    
    $colorImpOrange100: #fbdcb3;    
    $colorImpOrange200: #f9c580;    
    $colorImpOrange300: #f7ad4d;    
    $colorImpOrange400: #f59c26;    
    $colorImpOrange500: #f38a00;    
    $colorImpOrange600: #f18200;    
    $colorImpOrange700: #ef7700;    
    $colorImpOrange800: #ed6d00;    
    $colorImpOrange900: #ea5a00;    
    $colorImpOrangeA100: #ffffff;    
    $colorImpOrangeA200: #ffe8de;    
    $colorImpOrangeA400: #ffc6ab;    
    $colorImpOrangeA700: #ffb491;    
    $colorImpOrangeContrast50: #000000;    
    $colorImpOrangeContrast100: #000000;    
    $colorImpOrangeContrast200: #000000;    
    $colorImpOrangeContrast300: #000000;    
    $colorImpOrangeContrast400: #000000;    
    $colorImpOrangeContrast500: #ffffff;    
    $colorImpOrangeContrast600: #000000;    
    $colorImpOrangeContrast700: #000000;    
    $colorImpOrangeContrast800: #000000;    
    $colorImpOrangeContrast900: #ffffff;    
    $colorImpOrangeContrastA100: #000000;    
    $colorImpOrangeContrastA200: #000000;    
    $colorImpOrangeContrastA400: #000000;    
    $colorImpOrangeContrastA700: #000000;    
    $colorImpRed50: #fce0e9;    
    $colorImpRed100: #f7b3c9;    
    $colorImpRed200: #f180a5;    
    $colorImpRed300: #eb4d80;    
    $colorImpRed400: #e72665;    
    $colorImpRed500: #e3004a;    
    $colorImpRed600: #e00043;    
    $colorImpRedA100: #fff8f9;    
    $colorImpRedA200: #ffc5cb;    
    $colorImpRedA400: #ff929d;    
    $colorImpRedA700: #ff7987;    
    $colorImpRedContrast50: #000000;    
    $colorImpRedContrast100: #000000;    
    $colorImpRedContrast200: #000000;    
    $colorImpRedContrast300: #000000;    
    $colorImpRedContrast400: #ffffff;    
    $colorImpRedContrast500: #ffffff;    
    $colorImpRedContrast600: #ffffff;    
    $colorImpRedContrast700: #ffffff;    
    $colorImpRedContrast900: #ffffff;    
    $colorImpRedContrastA100: #000000;    
    $colorImpRedContrastA200: #000000;    
    $colorImpRedContrastA400: #000000;    
    $colorImpRedContrastA700: #000000;    
    $colorImpBeige50: #f9f7f0;    
    $colorImpBeige100: #efead9;    
    $colorImpBeige200: #e4dcc0;    
    $colorImpBeige300: #d9cea7;    
    $colorImpBeige400: #d1c494;    
    $colorImpBeige500: #c9b981;    
    $colorImpBeige700: #bcaa6e;    
    $colorImpBeige800: #b5a264;    
    $colorImpBeige900: #a99351;    
    $colorImpBeigeA100: #ffffff;    
    $colorImpBeigeA200: #fff5d7;    
    $colorImpBeigeA400: #ffe8a4;    
    $colorImpBeigeA700: #ffe18b;    
    $colorImpBeigeContrast50: #000000;    
    $colorImpBeigeContrast100: #000000;    
    $colorImpBeigeContrast200: #000000;    
    $colorImpBeigeContrast300: #000000;    
    $colorImpBeigeContrast400: #000000;    
    $colorImpBeigeContrast500: #000000;    
    $colorImpBeigeContrast600: #000000;    
    $colorImpBeigeContrast700: #000000;    
    $colorImpBeigeContrast800: #000000;    
    $colorImpBeigeContrast900: #000000;    
    $colorImpBeigeContrastA100: #000000;    
    $colorImpBeigeContrastA200: #000000;    
    $colorImpBeigeContrastA400: #000000;    
    $colorImpBeigeContrastA700: #000000;    
    $colorImpCloudGrey50: #fefefe;    
    $colorImpCloudGrey100: #fcfcfd;    
    $colorImpCloudGrey200: #fbfbfb;    
    $colorImpCloudGrey300: #f9f9f9;    
    $colorImpCloudGrey400: #f7f7f8;    
    $colorImpCloudGrey500: #f6f6f7;    
    $colorImpCloudGrey600: #f5f5f6;    
    $colorImpCloudGrey700: #f3f3f5;    
    $colorImpCloudGrey800: #f2f2f3;    
    $colorImpCloudGrey900: #efeff1;    
    $colorImpCloudGreyA100: #ffffff;    
    $colorImpCloudGrey200: #ffffff;    
    $colorImpCloudGreyA400: #ffffff;    
    $colorImpCloudGreyA700: #ffffff;    
    $colorImpCloudGreyContrast50: #000000;    
    $colorImpCloudGreyContrast100: #000000;    
    $colorImpCloudGreyContrast200: #000000;    
    $colorImpCloudGreyContrast300: #000000;    
    $colorImpCloudGreyContrast400: #000000;    
    $colorImpCloudGreyContrast500: #000000;    
    $colorImpCloudGreyContrast600: #000000;    
    $colorImpCloudGreyContrast700: #000000;    
    $colorImpCloudGreyContrast800: #000000;    
    $colorImpCloudGreyContrast900: #000000;    
    $colorImpCloudGreyContrastA100: #000000;    
    $colorImpCloudGreyContrastA200: #000000;    
    $colorImpCloudGreyContrastA400: #000000;    
    $colorImpCloudGreyContrastA700: #000000;    
    $colorImpLightGrey50: #f9f9fa;    
    $colorImpLightGrey100: #f1f1f2;    
    $colorImpLightGrey200: #e7e8e9;    
    $colorImpLightGrey300: #dddfe0;    
    $colorImpLightGrey400: #d6d8da;    
    $colorImpLightGrey500: #cfd1d3;    
    $colorImpLightGrey600: #caccce;    
    $colorImpLightGrey700: #c3c6c8;    
    $colorImpLightGrey800: #bdc0c2;    
    $colorImpLightGrey900: #b2b5b7;    
    $colorImpLightGreyA100: #ffffff;    
    $colorImpLightGreyA200: #ffffff;    
    $colorImpLightGreyA400: #ffffff;    
    $colorImpLightGreyA700: #f0f7ff;    
    $colorImpLightGreyContrast50: #000000;    
    $colorImpLightGreyContrast100: #000000;    
    $colorImpLightGreyContrast200: #000000;    
    $colorImpLightGreyContrast300: #000000;    
    $colorImpLightGreyContrast400: #000000;    
    $colorImpLightGreyContrast500: #000000;    
    $colorImpLightGreyContrast600: #000000;    
    $colorImpLightGreyContrast700: #000000;    
    $colorImpLightGreyContrast800: #000000;    
    $colorImpLightGreyContrast900: #000000;    
    $colorImpLightGreyContrastA100: #000000;    
    $colorImpLightGreyContrastA200: #000000;    
    $colorImpLightGreyContrastA400: #000000;    
    $colorImpLightGreyContrastA700: #000000;    
    $colorImpDarkGrey50: #eaebeb;    
    $colorImpDarkGrey100: #cbcccc;    
    $colorImpDarkGrey200: #a9aaab;    
    $colorImpDarkGrey300: #868889;    
    $colorImpDarkGrey400: #6c6f6f;    
    $colorImpDarkGrey500: #525556;    
    $colorImpDarkGrey600: #4b4e4f;    
    $colorImpDarkGrey700: #414445;    
    $colorImpDarkGrey800: #383b3c;    
    $colorImpDarkGrey900: #282a2b;    
    $colorImpDarkGreyA100: #85d0f5;    
    $colorImpDarkGreyA200: #56bef2;    
    $colorImpDarkGreyA400: #15b1ff;    
    $colorImpDarkGreyA700: #00a7fb;    
    $colorImpDarkGreyContrast50: #000000;    
    $colorImpDarkGreyContrast100: #000000;    
    $colorImpDarkGreyContrast200: #000000;    
    $colorImpDarkGreyContrast300: #000000;    
    $colorImpDarkGreyContrast400: #ffffff;    
    $colorImpDarkGreyContrast500: #ffffff;    
    $colorImpDarkGreyContrast600: #ffffff;    
    $colorImpDarkGreyContrast700: #ffffff;    
    $colorImpDarkGreyContrast800: #ffffff;    
    $colorImpDarkGreyContrast900: #ffffff;    
    $colorImpDarkGreyContrastA100: #000000;    
    $colorImpDarkGreyContrastA200: #000000;    
    $colorImpDarkGreyContrastA400: #000000;    
    $colorImpDarkGreyContrastA700: #ffffff;    
    $colorImpDarkBrown50: #e9e8e7;    
    $colorImpDarkBrown100: #c8c6c3;    
    $colorImpDarkBrown200: #a4a09b;    
    $colorImpDarkBrown300: #807973;    
    $colorImpDarkBrown400: #645d55;    
    $colorImpDarkBrownDarkBrown: #494037;    
    $colorImpDarkBrown600: #423a31;    
    $colorImpDarkBrown700: #39322a;    
    $colorImpDarkBrown800: #312a23;    
    $colorImpDarkBrown900: #211c16;    
    $colorImpDarkBrownA100: #ffbb67;    
    $colorImpDarkBrownA200: #ffa534;    
    $colorImpDarkBrownA400: #ff8e01;    
    $colorImpDarkBrownA700: #e68000;    
    $colorImpDarkBrownContrast50: #000000;    
    $colorImpDarkBrownContrast100: #000000;    
    $colorImpDarkBrownContrast200: #000000;    
    $colorImpDarkBrownContrast300: #ffffff;    
    $colorImpDarkBrownContrast400: #ffffff;    
    $colorImpDarkBrownContrast500: #ffffff;    
    $colorImpDarkBrownContrast600: #ffffff;    
    $colorImpDarkBrownContrast700: #ffffff;    
    $colorImpDarkBrownContrast800: #ffffff;    
    $colorImpDarkBrownContrast900: #ffffff;    
    $colorImpDarkBrownContrastA100: #000000;    
    $colorImpDarkBrownContrastA200: #000000;    
    $colorImpDarkBrownContrastA400: #000000;    
    $colorImpDarkBrownContrastA700: #000000;    
    $colorImpBlueGrey50: #f8fafa;    
    $colorImpBlueGrey100: #eef2f3;    
    $colorImpBlueGrey200: #e2e9eb;    
    $colorImpBlueGrey300: #d6e0e3;    
    $colorImpBlueGrey400: #cedadd;    
    $colorImpBlueGrey500: #c5d3d7;    
    $colorImpBlueGrey600: #bfced3;    
    $colorImpBlueGrey700: #b8c8cd;    
    $colorImpBlueGrey800: #b0c2c7;    
    $colorImpBlueGrey900: #a3b7be;    
    $colorImpBlueGreyA100: #ffffff;    
    $colorImpBlueGreyA200: #ffffff;    
    $colorImpBlueGreyA400: #ffffff;    
    $colorImpBlueGreyA700: #e8f9ff;    
    $colorImpBlueGreyContrast50: #000000;    
    $colorImpBlueGreyContrast100: #000000;    
    $colorImpBlueGreyContrast200: #000000;    
    $colorImpBlueGreyContrast300: #000000;    
    $colorImpBlueGreyContrast400: #000000;    
    $colorImpBlueGreyContrast500: #000000;    
    $colorImpBlueGreyContrast600: #000000;    
    $colorImpBlueGreyContrast700: #000000;    
    $colorImpBlueGreyContrast800: #000000;    
    $colorImpBlueGreyContrast900: #000000;    
    $colorImpBlueGreyContrastA100: #000000;    
    $colorImpBlueGreyContrastA200: #000000;    
    $colorImpBlueGreyContrastA400: #000000;    
    $colorImpBlueGreyContrastA700: #000000;    
    $colorImpMentholBlue50: #edf3f3;    
    $colorImpMentholBlue100: #d2e2e1;    
    $colorImpMentholBlue200: #b5cfce;    
    $colorImpMentholBlue300: #97bcba;    
    $colorImpMentholBlue400: #80adab;    
    $colorImpMentholBlue500: #6a9f9c;    
    $colorImpMentholBlue600: #629794;    
    $colorImpMentholBlue700: #578d8a;    
    $colorImpMentholBlue800: #4d8380;    
    $colorImpMentholBlue900: #3c726e;    
    $colorImpMentholBlueA100: #c6fffb;    
    $colorImpMentholBlueA200: #93fff7;    
    $colorImpMentholBlueA400: #60fff3;    
    $colorImpMentholBlueA700: #47fff2;    
    $colorImpMentholBlueContrast50: #000000;    
    $colorImpMentholBlueContrast100: #000000;    
    $colorImpMentholBlueContrast200: #000000;    
    $colorImpMentholBlueContrast300: #000000;    
    $colorImpMentholBlueContrast400: #000000;    
    $colorImpMentholBlueContrast500: #000000;    
    $colorImpMentholBlueContrast600: #000000;    
    $colorImpMentholBlueContrast700: #ffffff;    
    $colorImpMentholBlueContrast800: #ffffff;    
    $colorImpMentholBlueContrast900: #ffffff;    
    $colorImpMentholBlueContrastA100: #000000;    
    $colorImpMentholBlueContrastA200: #000000;    
    $colorImpMentholBlueContrastA400: #000000;    
    $colorImpMentholBlueContrastA700: #000000;    
    $colorImpBlue50: #e0f1f8;    
    $colorImpBlue100: #b3dbef;    
    $colorImpBlue200: #80c3e4;    
    $colorImpBlue300: #4dabd9;    
    $colorImpBlue400: #2699d0;    
    $colorImpBlue500: #0087c8;    
    $colorImpBlue600: #007fc2;    
    $colorImpBlue700: #0074bb;    
    $colorImpBlue800: #006ab4;    
    $colorImpBlue900: #0057a7;    
    $colorImpBlueA100: #d1e6ff;    
    $colorImpBlueA200: #9ecaff;    
    $colorImpBlueA400: #6baeff;    
    $colorImpBlueA700: #52a1ff;    
    $colorImpBlueContrast50: #000000;    
    $colorImpBlueContrast100: #000000;    
    $colorImpBlueContrast200: #000000;    
    $colorImpBlueContrast300: #000000;    
    $colorImpBlueContrast400: #ffffff;    
    $colorImpBlueContrast500: #ffffff;    
    $colorImpBlueContrast600: #ffffff;    
    $colorImpBlueContrast700: #ffffff;    
    $colorImpBlueContrast800: #ffffff;    
    $colorImpBlueContrast900: #ffffff;    
    $colorImpBlueContrastA100: #000000;    
    $colorImpBlueContrastA200: #000000;    
    $colorImpBlueContrastA400: #000000;    
    $colorImpBlueContrastA700: #000000;    
    $colorImpMediumBlue50: #e1e9ed;    
    $colorImpMediumBlue100: #b5c7d1;    
    $colorImpMediumBlue200: #84a2b3;    
    $colorImpMediumBlue300: #527c94;    
    $colorImpMediumBlue400: #2d607d;    
    $colorImpMediumBlue500: #084466;    
    $colorImpMediumBlue600: #073e5e;    
    $colorImpMediumBlue700: #063553;    
    $colorImpMediumBlue800: #042d49;    
    $colorImpMediumBlue900: #021f38;    
    $colorImpMediumBlueA100: #6eb0ff;    
    $colorImpMediumBlueA200: #3b93ff;    
    $colorImpMediumBlue400: #0877ff;    
    $colorImpMediumBlueA700: #006bee;    
    $colorImpMediumBlueContrast50: #000000;    
    $colorImpMediumBlueContrast100: #000000;    
    $colorImpMediumBlueContrast200: #000000;    
    $colorImpMediumBlueContrast300: #ffffff;    
    $colorImpMediumBlueContrast400: #ffffff;    
    $colorImpMediumBlueContrast500: #ffffff;    
    $colorImpMediumBlueContrast600: #ffffff;    
    $colorImpMediumBlueContrast700: #ffffff;    
    $colorImpMediumBlueContrast800: #ffffff;    
    $colorImpMediumBlueContrast900: #ffffff;    
    $colorImpMediumBlueContrastA100: #000000;    
    $colorImpMediumBlueContrastA200: #000000;    
    $colorImpMediumBlueContrastA400: #ffffff;    
    $colorImpMediumBlueContrastA700: #ffffff;    
    $colorImpSicpaBlue50: #e1e7eb;    
    $colorImpSicpaBlue100: #b3c4ce;    
    $colorImpSicpaBlue200: #819dad;    
    $colorImpSicpaBlue300: #4f768c;    
    $colorImpSicpaBlue400: #295873;    
    $colorImpSicpaBlue500: #033b5a;    
    $colorImpSicpaBlue600: #033552;    
    $colorImpSicpaBlue700: #022d48;    
    $colorImpSicpaBlue800: #02263f;    
    $colorImpSicpaBlue900: #01192e;    
    $colorImpSicpaBlueA100: #67a7ff;    
    $colorImpSicpaBlueA200: #3489ff;    
    $colorImpSicpaBlueA400: #016bff;    
    $colorImpSicpaBlueA700: #0061e6;    
    $colorImpSicpaBlueContrast50: #000000;    
    $colorImpSicpaBlueContrast100: #000000;    
    $colorImpSicpaBlueContrast200: #000000;    
    $colorImpSicpaBlueContrast300: #ffffff;    
    $colorImpSicpaBlueContrast400: #ffffff;    
    $colorImpSicpaBlueContrast500: #ffffff;    
    $colorImpSicpaBlueContrast600: #ffffff;    
    $colorImpSicpaBlueContrast700: #ffffff;    
    $colorImpSicpaBlueContrast800: #ffffff;    
    $colorImpSicpaBlueContrast900: #ffffff;    
    $colorImpSicpaBlueContrastA100: #000000;    
    $colorImpSicpaBlueContrastA200: #000000;    
    $colorImpSicpaBlueContrastA400: #ffffff;    
    $colorImpSicpaBlueContrastA700: #ffffff;    
    $colorImpDarkBlue50: #e1e6e9;    
    $colorImpDarkBlue100: #b5c1c8;    
    $colorImpDarkBlue200: #8397a3;    
    $colorImpDarkBlue300: #516d7e;    
    $colorImpDarkBlue400: #2c4e63;    
    $colorImpDarkBlue500: #072f47;    
    $colorImpDarkBlue600: #062a40;    
    $colorImpDarkBlue700: #052337;    
    $colorImpDarkBlue800: #041d2f;    
    $colorImpDarkBlue900: #021220;    
    $colorImpDarkBlueA100: #5da1ff;    
    $colorImpDarkBlueA200: #2a83ff;    
    $colorImpDarkBlueA400: #0067f6;    
    $colorImpDarkBlueA700: #005ddc;    
    $colorImpDarkBlueContrast50: #000000;    
    $colorImpDarkBlueContrast100: #000000;    
    $colorImpDarkBlueContrast200: #000000;    
    $colorImpDarkBlueContrast300: #ffffff;    
    $colorImpDarkBlueContrast400: #ffffff;    
    $colorImpDarkBlueContrast500: #ffffff;    
    $colorImpDarkBlueContrast600: #ffffff;    
    $colorImpDarkBlueContrast700: #ffffff;    
    $colorImpDarkBlueContrast800: #ffffff;    
    $colorImpDarkBlueContrast900: #ffffff;    
    $colorImpDarkBlueContrastA100: #000000;    
    $colorImpDarkBlueContrastA200: #ffffff;    
    $colorImpDarkBlueContrastA400: #ffffff;    
    $colorImpDarkBlueContrastA700: #ffffff;    
    $colorImpWhite500: #ffffff;    
    $colorImpWhiteContrast500: #000000de;    
    $colorImpBlack500: #000000;    
    $colorImpBlackContrast500: #ffffff;    
