    $colorBlack: #000000;    
    $colorDarkGrey: #525556;    
    $colorGrey: #a0a5a9;    
    $colorLightGrey: #cfd1d3;    
    $colorSicpaBlue: #033b5a;    
    $colorRedPink: #e3004a;    
    $colorMentholBlue: #6a9f9c;    
    $colorCloudGrey: #f6f6f7;    
    $colorBlueGrey: #c5d3d7;    
    $colorDarkBlue: #072f47;    
    $colorMediumBlue: #084466;    
    $colorPrimaryBlue: #0087c8;    
    $colorOrange: #f38a00;    
    $colorGreen: #77bc1f;    
    $colorBeige: #c9b981;    
    $colorDarkBrown: #494037;    
    $colorImpDefault50: #f4f4f5;    
    $colorImpDefault100: #e3e4e5;    
    $colorImpDefault200: #d0d2d4;    
    $colorImpDefault300: #bdc0c3;    
    $colorImpDefault400: #aeb3b6;    
    $colorImpDefault500: #a0a5a9;    
    $colorImpDefault600: #989da2;    
    $colorImpDefault700: #8e9398;    
    $colorImpDefault800: #848a8f;    
    $colorImpDefault900: #73797e;    
    $colorImpDefaultA100: #ffffff;    
    $colorImpDefaultA200: #d1e6fb;    
    $colorImpDefaultA400: #9bcdff;    
    $colorImpDefaultA700: #81c0ff;    
    $colorImpDefaultContrast50: #000000;    
    $colorImpDefaultContrast100: #000000;    
    $colorImpDefaultContrast200: #000000;    
